*.dep
tags
*.swp
*.kate-swp
*.exe
*.o
*.a
*.dat
*~
*.MD2
*.md2
grammar.tab.c
*.aux
*.log
*.pdf
*.backup
*.toc
*.dvi
*.out
*~

*.lib
*.ncb
*.user
*.obj
*.suo
*.ilk
*.pdb
BuildLog.htm
Debug
debug
Release
release
temp
*.idb 
*.manifest
*.DLL

*.swo

